<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPrompter"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6214381980601535~6182796129"/>

        <!-- SPLASH SCREEN - LAUNCHER -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WELCOME WIZARD -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyPrompter.NoActionBar"
            android:screenOrientation="portrait" />

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MyPrompter.NoActionBar"
            android:screenOrientation="portrait" />

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- SCRIPTS ACTIVITY -->
        <activity
            android:name=".ScriptsActivity"
            android:exported="false"
            android:label="Scripts &amp; Recordings"
            android:parentActivityName=".MainActivity" />

        <!-- VIDEO PREVIEW ACTIVITY -->
        <activity
            android:name=".VideoPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- VIDEO TRIM ACTIVITY -->
        <activity
            android:name=".VideoTrimActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- ADD TEXT ACTIVITY -->
        <activity
            android:name=".AddTextActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- ADD IMAGE ACTIVITY -->
        <activity
            android:name=".AddImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>